//- header-title
mixin header-title(name="Header Name", link="#")
  .m-header
    h2.m-header__title
      a(href=link)=name
    if block
      block

//- Song
//- mixin song(assets="music" ,imgid="99156", name="Song Name", singer="Singer Name")
//-   .song
//-     .song__img
//-       a(href='song.html')
//-         img(src=`./assets/images/${assets}/${imgid}.jpg`, alt='')
//-     .song-info
//-       h4.song-info__title
//-         a(href='song.html')=name
//-       p.song-info__sub-title
//-         a(href='#')=singer
//-     .song__more
//-       a(href='/song.html')
//-         i.far.fa-play-circle
//-       a(href='#')
//-         i.fas.fa-cloud-download-alt
//-       a(href='#')
//-         i.fas.fa-share-alt

mixin song(data)
  .song
    .song__img
      a(href= data.link)
        img(src=`./assets/images/music/${data.imgid}.jpg`, alt='')
    .song-info
      h4.song-info__title
        a(href= data.link) #{data.name}
      p.song-info__sub-title
        a(href='#') #{data.singer}
    .song__more
      a(href='/song.html')
        i.far.fa-play-circle
      a(href='#')
        i.fas.fa-cloud-download-alt
      a(href='#')
        i.fas.fa-share-alt

mixin song-widget(assets="music" ,imgid="99156", name="Song Name", singer="Singer Name")
  .song(class!=attributes.class).song--widget.song--no-hover
    .song__img
      a(href='song.html')
        img(src=`./assets/images/${assets}/${imgid}.jpg`, alt='')
    .song-info
      h4.song-info__title
        a(href='song.html')=name
      p.song-info__sub-title
        a(href='#')=singer

//- song-cover
//- mixin song-cover(assets="album", imgid="101024", name="Song name", singer="Singer name")
//-   .song-cover
//-     a(href='#')
//-       .song-cover__img
//-         img(src=`assets/images/${assets}/${imgid}.jpg`, alt='')
//-         .overlay
//-           .overlay-play
//-             i.far.fa-play-circle
//-     .song-info
//-       h4.song-info__title
//-         a(href='#')=name
//-       p.song-info__sub-title
//-         a(href='#')=singer

//- albums
mixin song-cover(data)
  .song-cover
    a(href= data.link)
      .song-cover__img
        img(src=`assets/images/album/${data.imgid}.jpg`, alt=`${data.name}`)
        .overlay
          .overlay-play
            i.far.fa-play-circle
    .song-info
      h4.song-info__title
        a(href= data.link) #{data.name}
      p.song-info__sub-title
        a(href= data.link) #{data.singer}

//- topics
mixin topics(data)
  .topics
    a(href= data.link)
      .topics__img
        img(src=`assets/images/topics/${data.imgid}.jpg`, alt='')
        .overlay.overlay-bg.overlay--no-opacity
          span #{data.name}

//- tag cloud
mixin tagcloud(data)
  a.widget-tagcloud__link(href= data.link) #{data.name}

//- widget-singer
mixin widget-singer(imgid="48", singer="Singer Name")
  a.widget-singer__item(href='#', style=`background-image: url(./assets/images/singer/${imgid}.jpg)`)&attributes(attributes)
    span=singer
